@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@media (min-width: 992px) {
.larger-text {
  font-size: 24px !important;
  line-height: 40px !important;
}
}

@media (min-width: 576px) {
  .larger-text {
    font-size: 40px;
    line-height: 56px;
  }
}

.standard-case {
  text-transform: none !important;
}

.bg-overlay-superfood-mix {
    background: linear-gradient(rgba(74,45,65,.5), rgba(74,45,65,.5)), url("https://roamersllc.github.io/assets/images/photographs/superfood-mix-bw-light.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #000;
    height: 500px;
    padding-top: 0px;
}

.bg-overlay-recipes {
    background: linear-gradient(rgba(0,156,60,.2), rgba(0,156,60,.2)), url("https://roamersllc.github.io/assets/images/photographs/roamers-oats-almond-milk-cacao-honey-blueberry-bw.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 500px;
    padding-top: 0px;
}

div.box {
    position: relative;
}

div.box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .8;
}

a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.block-square {
    height:calc(50% - 15px);
    width: 100% !important;
  }

.images {

  zoom: 2;  //increase if you have very small images

      display: block;
      margin: auto;
object-fit: cover;
      height: auto;
      max-height: 100%;

      width: auto;
      max-width: 100%;

}

.font-weight-600 {
  font-weight: 600;
}

.footer {
  padding: 40px 0 !important;
  height: 00px !important;
}

.footer #map-canvas {
  width: 100% !important;
  height: 0px !important;
}

@media (max-width: 992px) {
  .footer #map-canvas {
    height: 0px !important;
  }
}

.footer-bottom {
  padding: 0px 0 !important;
}

.footer-bottom .row {
  margin-bottom: 0px !important;
}

.footer-bottom .row div[class^="col-"], .footer-bottom .row div[class*=" col-"] {
  margin-bottom: 0px !important;
}

.navbar {
  height: 100px !important;
}

.navbar .nav .nav-item .nav-link {
  font: 400 14px "Poppins", sans-serif !important;
}

.navbar .nav .nav-item .dropdown-menu {
  top: 100px !important;
}

@media (min-width: 992px) {.navbar .dropdown-grey .nav-item.nav-dropdown .dropdown-menu,
  .navbar .dropdown-grey .nav-item.nav-dropdown .dropdown-menu .sub-dropdown .sub-dropdown-menu {
    background: #f0f0f0 !important;
  }
}

@media (min-width: 992px) {
  .navbar .nav .nav-item .nav-link {
    line-height: 100px !important;
  }
}

@media (max-width: 992px) {
  .navbar .container, .navbar .container-fluid {
    height: 100px !important;
  }
  .navbar .nav {
    top: 100px !important;
    -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0) !important;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0) !important;
  }
  .navbar .dropdown-grey {
    background: rgba(243, 243, 243, 0.9) !important;
  }
}

.navbar-placeholder-padding {
  padding-top: 100px !important;
}

@media (min-width: 992px) {
  .navbar .nav .nav-item.nav-megadropdown .mega-menu {
    top: 100px !important;
    -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0) !important;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0) !important;
  }
}

.navbar .nav.dropdown-grey .nav-megadropdown .mega-menu {
  background: #f0f0f0 !important;
}

html, body {
  speak: none !important;
  font-style: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

body {
  min-height: 100% !important;
}

a {
  color: #141414 !important;
  -webkit-transition: linear 0.1s !important;
  transition: linear 0.1s !important;
}

@media (min-width: 993px) {
  .fullscreen-toggle-btn {
    visibility: hidden;
    background: #FFFFFF;
    opacity: 0;
    -webkit-transition: none;
    transition: none;
  }
}

.font-tagline {
  font-size: 48px !important;
}

.font-xs {
  font-size: 11px !important;
}

.lineheightreduce {
  line-height: 50%;
}

.lineheightfooter {
  line-height: 200%;
}

.letter-spacing-custom {
  letter-spacing: .85px;
}

.fullscreen-menu {
  background:  #009C3C !important;
}

.fullscreen-toggle-btn .lines {
  width: 20px !important;
  background: #4A2D41 !important;
}

.fullscreen-toggle-btn .lines:before, .fullscreen-toggle-btn .lines:after {
  width: 20px !important;
  background: #4A2D41 !important;
}

.bg-light-green {
  background: #DCF0E2;
}

.bg-light-purple {
  background: #E9D6DD;
}

.bg-purple {
  background: #4A2D41;
}

.bg-orange {
  background: #DB9D47;
}

.purple-text {
  color: #4A2D41 !important;
}

.green-text {
  color: #009C3C !important;
}

.bg-green {
  background: #009C3C;
}

.align-center {
  text-align: center !important;
}

.bg-black-04 {
  background: rgba(8, 33, 7, 0.4) !important;
}

.white-text {
  color: #ffffff !important;
}

.font-size-icon {
    font-size: 40px !important;
}

.white-text-icon {
  color: #ffffff !important;
}

.white-text-icon:hover {
  color: #f0f0f0 !important;
}

.font-family-fredoka-one {
  font-family: "Fredoka One", sans-serif !important;
}

.font-family-roboto {
  font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important;
}

h2 {
  font-size: 38px !important;
}

p {
  font-weight: normal !important;
}

body {
}
